.cursor{
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: var(--yellow);
    border-radius: 50%;
    transition: transform 0.3s ease;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  .cursor2{
    pointer-events: none;
    position: fixed;
    padding: 0.8rem;
    border: 1px solid var(--yellow);
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
    z-index: 10;
  }
  
  .cursor.increase{
    transform: translate(-50%, -50%) scale(7);
    background-color: rgba(255, 182, 30, 0.5);
  }
  
  .cursor2.increase{
    border-color: transparent;
  }

  .header{
    position: fixed; /*relative*/
    width: 100%;
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 5;
    transition: 0.2s;
  }
  
  .header.scroll{
    background-color: var(--white);
  }
  
  .nav-bar ul{
    display:flex;
  }
  
  .nav-bar ul li a{
    display: block;
    color: var(--dark);
    font-size: 20px;
    padding: 10px 25px;
    text-decoration: none;
    transition: 0.2s;
    margin: 0 5px;
  }

  .header{
    position: fixed; /*relative*/
    width: 100%;
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 5;
    transition: 0.2s;
  }

  #footer {
    padding: 0.5em;
    font-size: 15px;
    background-color: var(--dark);
  }
  
  #footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #footer p {
    display: block;
    text-align: left;
    padding: 14px 16px;
    color: rgb(124, 124, 124);
  }
  
  #footer li a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    float: left;
  }