:root {
    --blue: #00576a;
    --white: #F6F7EB;
    --red: #e94f37;
    --yellow: #FFB61E;
    --brown: #615055;
    --dark: #1A1423;
}
  
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    cursor: none;
}

.header{
    position: fixed; /*relative*/
    width: 100%;
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 5;
    transition: 0.2s;
}
  
.header.scroll{
    background-color: var(--white);
}
  
  #logo img{
    height: 60px;
  }
  
  #hamburger{
    display: none;
  }
  
  
  .nav-bar ul{
    display:flex;
  }
  
  .nav-bar ul li a{
    display: block;
    color: var(--dark);
    font-size: 20px;
    padding: 10px 25px;
    position: relative;
    transition: 0.2s;
    margin: 0 5px;
  }
  
  .nav-bar a::before{
    content: "";
    width: 70%;
    height: 4px;
    position: absolute;
    left: 15%;
    bottom: 7%;
    background: var(--yellow);
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 100% 50%;
  }
  .nav-bar a:hover::before{
    transform: scale3d(1,1,1);
    transform-origin: 0 50%;
  }
  
  #menu_active_site{
    font-weight: bold;
  }
  
  #menu_play_now a{
    border-radius: 50px;
    background: transparent;
    border: solid 2px var(--dark);
    color: var(--dark);
  }
  
  .cursor{
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: var(--yellow);
    border-radius: 50%;
    transition: transform 0.3s ease;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  .cursor2{
    pointer-events: none;
    position: fixed;
    padding: 0.8rem;
    border: 1px solid var(--yellow);
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
    z-index: 10;
  }
  
  .cursor.increase{
    transform: translate(-50%, -50%) scale(7);
    background-color: rgba(255, 182, 30, 0.5);
  }
  
  .cursor2.increase{
    border-color: transparent;
  }

#personalStats{
    height: 100vh;
    width: 100%;
    background-image: url('../Main/src/MainImages/landscape_blue.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: bottom;
    background-color:#00576a;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.main{
    padding: 15px;
    top: 100px;
    position:relative;
}

body{
    background-color: #00576a;
}

.content{
    background-color: whitesmoke;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar{
    background-color: whitesmoke;
    height: 100%
}

.rounded-cricle{
    align-self: center;
}

.nav-bar{
    z-index: 10;
    overflow: hidden;
}
header{
    z-index: 10;
}

#timeline{
    margin-left: 30px;
    width: 90%;
    border-left:2px solid #000;
    padding: 0 20px 0 30px;
}
.timeline-element{
    background-color: #fff;
    padding: 10px 25px;
    font-size: 16px;
    border:1px solid #000;
    line-height: 1.7;
    position: relative;
    height: 120px;
    margin-bottom: 20px;
}
.timeline-element:before{
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px solid #000;
    position: absolute;
    top: 10px;
    left: -39px;
    background-color: whitesmoke;
}

.timeline-element:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #000 transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
}

.timeline-element h2{
    margin:0;
    text-transform: uppercase;
}

.timeline-element h3{
    margin:0;
}

.timeline-element table{
    width: 90%;
}

#MatchHistoryButton{
    cursor: none;
}

#footer {
    padding: 0.5em;
    font-size: 15px;
    background-color: var(--dark);
  }
  
  #footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #footer p {
    display: block;
    text-align: left;
    padding: 14px 16px;
    color: rgb(124, 124, 124);
  }
  
  #footer li a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    float: left;
  }

@media only screen and (max-width: 1320px){
    .header{
        padding: 0 50px;
    }
}
  
@media only screen and (max-width: 1100px){
    .header{
        padding: 0 30px;
    }
}
  
@media only screen and (max-width: 900px){
  
    body{
      cursor: default;
    }
  
    *{
      cursor: default;
    }
  
    a{
      cursor: pointer;
    }
    .cursor{
        display: none;
    }
  
    #hamburger{
        display: block;
        cursor: pointer;
        z-index: 20;
    }
    #hamburger .line{
        width: 30px;
        height: 3px;
        background: var(--dark);
        margin: 6px 0;
    }
  
    .nav-bar{
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background: var(--white);
        transition: 0.2s;
        overflow: hidden;
        border-bottom: none 2px var(--dark);
    }
  
    .nav-bar.active {
        height: 450px;
        border-bottom: solid 2px var(--dark);
    }
  
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
  
    .nav-bar.active ul{
        opacity: 1;
    }
  
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

