<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Login/style.css">
    <link rel="shortcut icon" type="image/png" href="/Main/src/MainImages/logo.png">
    <title>GuessMaster</title>

    <script>
      function cursorBig(){
        document.querySelector(".cursor").classList.add("increase");
        document.querySelector(".cursor2").classList.add("increase");
      }
      function cursorSmall(){
        document.querySelector(".cursor").classList.remove("increase");
        document.querySelector(".cursor2").classList.remove("increase");
      }
    </script>
</head>
<body>
    <div class="cursor"></div>
    <div class="cursor2"></div>
    <div class="header">
        <a onmouseover="cursorBig()" onmouseout="cursorSmall()" id="logo" href="/"><img src="/Main/src/MainImages/logo.png" alt="Logo"></a>
        <div id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()"><a href="/">Home</a></li>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()"><a href="/Blog">Blog</a></li>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()"><a href="/ContactUs">Contact Us</a></li>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()"><a href="/Stats">Stats</a></li>
            </ul>
        </nav>
    </div>
    <!---HIER KOMMT DIE WEBSITE HIN-->
    <div id="section1">
      <div class="form-style">
        <form action="/Login" method="POST">
          <h1>Login to see your Profile</h1>
          <br><br>
          <label for="username">Username:</label><br>
          <input type="text" id="username" name="username"><br>

          <label for="password">Password:</label><br>
          <input type="password" id="password" name="password"><br>

          <input onmouseover="cursorBig()" onmouseout="cursorSmall()" type="submit" id="logintbtn" value="Login">

          {{#if message}}
           <h4>{{message}}</h4>
          {{/if}}

        </form>
        </div>
    </div>

    <div id="footer">
      <div id="footerlink">
        <ul>
          <li><a onmouseover="cursorBig()" onmouseout="cursorSmall()" href="/ContactUs">Mail us</a></li>
          <li><a onmouseover="cursorBig()" onmouseout="cursorSmall()" href="https://github.com/Tiaaam/GuessMaster">Our GitHub</a></li>
        </ul>
      </div>
      <p>Germany
        <br /><br />
        Copyright © 2023 GuessMaster Team. All rights reserved.
        <br />
        DHBW Karlsruhe</p>
    </div>
    
    <script src="/Login/login.js"></script>

</body>
</html>