<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stlyesheet" type="text/css" href="LogReg/style.css">
</head>
<body>
    
    <div>
        <form action="/Login" method="POST">
          <label for="username">Username:</label><br>
          <input type="text" id="username" name="username"><br>

          <label for="password">Password:</label><br>
          <input type="password" id="password" name="password"><br>

          <input type="submit" id="logintbtn" value="Login">
        </form>
    </div>
    
    <div>
      {{#if message}}
        <h4>{{message}}</h4>
      {{/if}}
    </div>

</body>
</html>