<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="Main/style.css">
    <script>
      function cursorBig(){
        document.querySelector(".cursor").classList.add("increase");
        document.querySelector(".cursor2").classList.add("increase");
      }
      function cursorSmall(){
        document.querySelector(".cursor").classList.remove("increase");
        document.querySelector(".cursor2").classList.remove("increase");
      }
    </script>
    <title>GuessMaster</title>
</head>
<body>
    <div class="cursor"></div>
    <div class="cursor2"></div>
    <div class="header">
        <a onmouseover="cursorBig()" onmouseout="cursorSmall()" id="logo" href="/"><img src="/Main/src/MainImages/logo.png" alt="Logo"></a>
        <div id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()" id="menu_active_site"><a href="/">Home</a></li>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()"><a href="/Blog">Blog</a></li>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()"><a href="/ContactUS">Contact Us</a></li>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()"><a href="/Stats">Stats</a></li>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()" id="menu_play_now"><a href="/Login">Profile</a></li>
                
            </ul>
        </nav>
    </div>
    <!---HIER KOMMT DIE WEBSITE HIN-->
    <div id="section1">
        <div id="section1_content">
            <h1>GuessMaster</h1>
            <p>Test your general knowlegede with GuessMaster and have fun competing against your friends. Start playing now:</p>
            <a onmouseover="cursorBig()" onmouseout="cursorSmall()" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&t" target="_blan">Play Now</a>
        </div>
    </div>
    <div id="section2">
        <h1>GAME IDEA</h1>
        <hr>
        <div id="section2_content">
            <div id="sec2_question">
                <h1>How many People live in Germany?</h1>
                <h2>Your Answer: <span id="writer"><span class="txt-type" data-wait="3000"
                    data-words='["80.000.000 ", "15 ", "I dont know... "]'></span></span></h2>
            </div>
            <div id="sec2_info">
                <ul>
                    <li>Test your general knowledge by answering Questions</li>
                    <li>Speed maters: Try to answer as fast as possible</li>
                    <li>Make fun about stupid friends, that dont know any shit</li>
                    <li>Browser Game: So you dont have to worry about installation or updates</li>
                </ul>
            </div>
        </div>
        <h4>GuessMaster</h4>
        <h1>OUR GOAL</h1>
        <p>By developing GuessMaster we have tried to create a simple and fun game that will test your general knowledge and be interesting at the same time. In addition, we try to arrange the game in such a way that the largest possible group is addressed.</p>
    </div>
    <div id="section3">
        <h4>Global</h4>
        <h1>PLAYER STATS</h1>
        <div id="section3_content">
            <div class="sec3_box">
              <img src="/Main/src/MainImages/gameround.png">
              <span class="sec3_data" id="sec3_data1" data-val="400">000</span>
              <span class="sec3_datatext">Played Rounds</span>
            </div>
            <div class="sec3_box">
                <img src="/Main/src/MainImages/correct.png">
              <span class="sec3_data" id="sec3_data2" data-val="340">000</span>
              <span class="sec3_datatext">Total Score</span>
            </div>
            <div class="sec3_box">
                <img src="/Main/src/MainImages/user.png">
              <span class="sec3_data" id="sec3_data3" data-val="225">000</span>
              <span class="sec3_datatext">Active Players</span>
            </div>
        </div>
        <p>Would you like to check out your personal stats? <br> Klick below and gain interesting insights:</p>
        <a onmouseover="cursorBig()" onmouseout="cursorSmall()" href="/Login">My Playerstats</a>
    </div>
    <div id="section4">
        <h4>GuessMaster</h4>
        <h1>BLOG-POSTS</h1>
        <div id="section4_content">
            <div id="sec4_img"><img src="/Blog/src/BlogImages/backlog.png" alt=""></div>
            <div id="sec4_text">
                <h1>Week 5: It begins to look a lot like... something</h1>
                <p>The heading has been program this week.
Our backend and frontend have gotten a lot better within this week.
We now have a running demo which includes all steps from our homescreen to playing the game. That includes creating a game, joining a game (by code), gameroom ("lobby") and the game itself (question-answering, "Guessing")....</p>
            </div>
        </div>
        <p id="sec4_moreblogs_text">Did you enjoy our latest blog post?<br>You can find all our other blog posts here:</p>
        <a onmouseover="cursorBig()" onmouseout="cursorSmall()" href="/Blog">Other Blogs</a>
    </div>
    <div id="section5">
        <h4>Team</h4>
        <h1>ABOUT US</h1>
        <div id="section5_content">
            <div class="sec5_box">
              <img src="/Main/src/MainImages/01.png">
              <span class="sec5_data">Marius M.</span>
              <span class="sec5_datatext">As the Product Owner, he is responsible for the management of our project. He's also part of the Backend-Dev-Team and takes care of the displayed questions and answers.</span>
            </div>
            <div class="sec5_box">
                <img src="/Main/src/MainImages/02.png">
              <span class="sec5_data">Daniel K.</span>
              <span class="sec5_datatext">Responsible for our communication, he authors our blog and will be the one to answer your questions. He's part of the Frontend-Dev-Team as well.</span>
            </div>
            <div class="sec5_box">
                <img src="/Main/src/MainImages/03.png">
              <span class="sec5_data">Tim S.</span>
              <span class="sec5_datatext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</span>
            </div>
            <div class="sec5_box">
                <img src="/Main/src/MainImages/04.png">
              <span class="sec5_data">Daniel S.</span>
              <span class="sec5_datatext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</span>
            </div>
            <div class="sec5_box">
                <img src="/Main/src/MainImages/01.png">
              <span class="sec5_data">Tim G.</span>
              <span class="sec5_datatext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</span>
            </div>
        </div>
        <p>Would you like to contact our team, the creators of GuessMaster?<br>Klick here to go to our contact page and send us a message, we'll get back to you as soon as possible:</p>
        <a onmouseover="cursorBig()" onmouseout="cursorSmall()" href="\ContactUs">Contact Us</a>
    </div>
    <div id="footer">
      <div id="footerlink">
        <ul>
          <li><a onmouseover="cursorBig()" onmouseout="cursorSmall()" href="mailto:guessmaster.webgame@gmail.com">Mail us</a></li>
          <li><a onmouseover="cursorBig()" onmouseout="cursorSmall()" href="https://github.com/Tiaaam/GuessMaster">Our GitHub</a></li>
        </ul>
      </div>
      <p>Germany
        <br /><br />
        Copyright © 2023 GuessMaster Team. All rights reserved.
        <br />
        DHBW Karlsruhe</p>
    </div>
    <script src="Main/main.js"></script>
</body>
</html>