<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/Main/style.css">
    <link rel="stylesheet" href="/Profile/profile.css">
    <title>GuessMaster</title>


    <!-- FontAwesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
</head>
<body>
    <div class="cursor"></div>
    <div class="cursor2"></div>
    <div class="header">
        <a onmouseover="cursorBig()" onmouseout="cursorSmall()" id="logo" href="/"><img src="/Main/src/MainImages/logo.png" alt="Logo"></a>
        <div id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()"><a href="/AboutUs">About Us</a></li>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()"><a href="/Blog">Blog</a></li>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()"><a href="/ContactUS">Contact</a></li>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()"><a href="/Stats">Stats</a></li>
                <li onmouseover="cursorBig()" onmouseout="cursorSmall()" id="menu_play_now"><a href="/Profile">Profile</a></li>
                
            </ul>
        </nav>
    </div>
    <!---HIER KOMMT DIE WEBSITE HIN-->
        <div id="personalStats">
            <div class="container">
                <div class="main">
                <div class ="row">
                    <div class ="col-md-4 mb-3 mt-12">
                        <div class="card text-center ">
                            <div class ="card body">
                            <img src="/Profile/ProfilePicture.png" class="rounded-cricle" width ="200">
                            <div class="mt-3">
                                <h2 id = "username1"> KennethValdez013</h2>
                                <br>
                                <h5 id="numberOfWins"> Wins: 69</h5>
                                <h5 id="numberOfGames"> Games: 100</h5>
                                <h5 id="numberOfPoints"> Points: 8800</h5>
                                <br>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 mt-1">
                            <div class="card mb-3">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                  </div>
                                  <div id="username2" class="col-sm-9 text-secondary">
                                    KennethValdez013
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Rounds played</h6>
                                  </div>
                                  <div id="numberOfRoundsPlayed" class="col-sm-9 text-secondary">
                                    69420
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Average Points per Round</h6>
                                  </div>
                                  <div id="averagePoints" class="col-sm-9 text-secondary">
                                    75.35
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Highscore</h6>
                                  </div>
                                  <div id="highscore" class="col-sm-9 text-secondary">
                                    1120
                                  </div>
                                </div>
                                <hr>
                                <div class="row">
                                  <div class="col-sm-3">
                                    <h6 class="mb-0">Winrate</h6>
                                  </div>
                                  <div id="winrate" class="col-sm-9 text-secondary">
                                    84%
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="card mb-3">
                              <div id= "matchHistoryContainer" class="card-body">
                                
                                
                                <div class="row">
                                  <div class="col-sm-12">
                                    <a id="MatchHistoryButton" class="btn btn-info" onclick="updateMatchHistory()" onmouseover="cursorBig()" onmouseout="cursorSmall()">Show Match History</a>
                                  </div>
                                </div>
                                <section id="timeline">
                                </section>

                              </div>
                            </div>
                    </div>

                </div>


                

                </div>


                </div>
            </div>
        </div>
      <script src="/Main/main.js"></script>
      <script type ="module" src="/Profile/SqlProfile.js"></script>
      <script src="/Profile/profileScript.js"></script>
    </body>
</html>