:root {
  --blue: #00576a;
  --white: #f6f7eb;
  --red: #e94f37;
  --yellow: #ffb61e;
  --brown: #615055;
  --dark: #1a1423;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  cursor: none;
}

body {
  background: var(--white);
  cursor: none;
}

header {
  position: fixed; /*relative*/
  width: 100%;
  height: 80px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  margin-top: 20px;
}

#logo img {
  height: 60px;
}

#hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: var(--dark);
  font-size: 20px;
  padding: 10px 25px;

  transition: 0.2s;
  margin: 0 5px;
}

#menu_active_site {
  font-weight: bold;
}

#menu_play_now a {
  border-radius: 50px;
  background: transparent;
  border: solid 2px var(--dark);
  color: var(--dark);
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: black;
  border-radius: 50%;

  transition: transform 0.3s ease;
  z-index: 10;
}

.cursor.increase {
  transform: translate(-50%, -50%) scale(4);
  background-color: transparent;
  border: 0.5px solid black;
}

/* HAUPTMENÜ BIS HIER HIN -----------------------------------------------*/

#section1 {
  height: 100vh;
  width: 100%;
  background-image: url("src/MainImages/landscape_blue.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: bottom;

  display: flex;
  justify-content: center;
  align-items: center;
}

#section1_content {
  text-align: center;
  color: var(--white);
  margin-top: -50px;
}

#section1_content h1 {
  font-size: 100px;
  font-weight: bold;
  color: var(--white);
}

#section1_content p {
  margin: 20px 0 40px 0;
  font-size: 18px;
}

#section1_content a {
  padding: 15px 30px;
  border: 2px solid var(--white);
  border-radius: 50px;
  color: var(--white);
  font-size: 25px;
  font-weight: bold;
}

#section2 {
  padding: 100px 5vw;
  width: 100%;
  background-color: var(--blue);
}

#section2 h1 {
  color: var(--white);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#section2 hr {
  width: 70px;
  text-align: center;
  border: 2px solid var(--yellow);
  display: block;
  margin: 15px auto 0 auto;
}

#section2_content {
  width: 100%;
  text-align: center;
  margin: 10px 0 170px 0;
}

#sec2_question {
  display: inline-block;
  vertical-align: middle;
  margin: 2vw;
}

#sec2_question h1 {
  color: var(--red);
  text-align: left;
}

#sec2_question h2 {
  margin-top: 20px;
  color: var(--white);
  text-align: left;
}

#sec2_info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 20px;

  color: var(--white);
  margin: 2vw;
}

#sec2_info ul li {
  list-style: disc;
  line-height: 30px;
}

#section2 h4 {
  color: var(--yellow);
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
}

#section2 p {
  margin: 20px 0;
  text-align: center;
  padding: 0 10vw;
  font-size: 18px;
  color: white;
}

#section3 {
  height: 50vh;
  width: 100%;
  background-color: var(--white);
  padding: 100px 5vw;
}

#section3 h4 {
  color: var(--red);
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
}

#section3 h1 {
  color: var(--dark);
  text-align: center;
}

#section3_content {
  position: relative;
  width: 80vw;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.sec3_box {
  width: 30vmin;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: var(--dark);
  border-bottom: 10px solid var(--red);
}

i {
  color: var(--red);
  font-size: 2.5em;
  text-align: center;
  margin-top: 2vh;
}

.sec3_box img {
  color: white;
  height: 4vh;
  width: 4vh;
  display: block;
  margin: 1vh auto 0 auto;
}

.sec3_data {
  margin: 4vh 0 1vh 0;
  color: var(--red);
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}

.sec3_datatext {
  margin-bottom: 1vh;
  color: #e0e0e0;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 900px) {
  .cursor {
    display: none;
  }

  #hamburger {
    display: block;
    cursor: pointer;
    z-index: 20;
  }
  #hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--dark);
    margin: 6px 0;
  }

  .nav-bar {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 0;
    background: var(--white);
    transition: 0.2s;
    overflow: hidden;
    border-bottom: none 2px var(--dark);
  }

  .nav-bar.active {
    height: 450px;
    border-bottom: solid 2px var(--dark);
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}
