:root {
  --blue: #00576a;
  --white: #F6F7EB;
  --red: #e94f37;
  --yellow: #FFB61E;
  --brown: #615055;
  --dark: #1A1423;
}


*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  cursor: none;
}

body{
  background: var(--white);
  cursor: none;
}

.header{
  position: fixed; /*relative*/
  width: 100%;
  height: 80px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  z-index: 5;
  transition: 0.2s;
}

.header.scroll{
  background-color: var(--white);
}

#logo img{
  height: 60px;
}

#hamburger{
  display: none;
}


.nav-bar ul{
  display:flex;
}

.nav-bar ul li a{
  display: block;
  color: var(--dark);
  font-size: 20px;
  padding: 10px 25px;

  transition: 0.2s;
  margin: 0 5px;
}

#menu_active_site{
  font-weight: bold;
}

#menu_play_now a{
  border-radius: 50px;
  background: transparent;
  border: solid 2px var(--dark);
  color: var(--dark);
}

.cursor{
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: var(--yellow);
  border-radius: 50%;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.cursor2{
  pointer-events: none;
  position: fixed;
  padding: 0.8rem;
  border: 1px solid var(--yellow);
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s;
  z-index: 10;
}

.cursor.increase{
  transform: translate(-50%, -50%) scale(7);
  background-color: rgba(255, 182, 30, 0.5);
}

.cursor2.increase{
  border-color: transparent;
}


#section1{
  height: 100vh;
  width: 100%;
  background-image: url('src/MainImages/landscape_blue.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: bottom;

  display: flex;
  justify-content: center;
  align-items: center;
}

#section1_content{
  text-align: center;
  color: var(--white);
  margin-top: -50px;
}

#section1_content h1{
  font-size: 100px;
  font-weight: bold;
  color: var(--white);
}

#section1_content p{
  margin: 20px 0 40px 0;
  font-size: 18px;
}

#section1_content a{
  padding: 15px 30px;
  border: 2px solid var(--white);
  border-radius: 50px;
  color: var(--white);
  font-size: 25px;
  font-weight: bold;
}

#section2{
  padding: 100px 5vw;
  width: 100%;
  background-color: var(--blue);
}

#section2 h1{
  color: var(--white);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#section2 hr{
  width: 70px;
  text-align: center;
  border: 2px solid var(--yellow);
  display: block;
  margin: 15px auto 0 auto;
}

#section2_content{
  width: 100%;
  text-align: center;
  margin: 10px 0 170px 0;
}

#sec2_question{
  display: inline-block;
  vertical-align: middle;
  margin: 2vw;
}

#sec2_question h1{
  color: var(--red);
  text-align: left;
}

#sec2_question h2{
  margin-top: 20px;
  color: var(--white);
  text-align: left;
}

#sec2_info{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 20px;

  color: var(--white);
  margin: 2vw;
}

#sec2_info ul li{
  list-style: disc;
  line-height: 30px;
}

#section2 h4{
  color: var(--yellow);
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
}

#section2 p{
  margin: 20px 0;
  text-align: center;
  padding: 0 10vw;
  font-size: 18px;
  color: white;
}

#section3{
  background-color: var(--white);
  text-align: center;
  padding: 70px 0;
}

#section3 h4{
  color: var(--red);
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
}

#section3 h1{
  color: var(--dark);

}

#section3_content {
  margin: 50px 10vw 0 10vw;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  z-index: 1;
}

.sec3_box {
  width: 20vw;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  padding: 2vw 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: var(--dark);
  border-bottom: 10px solid var(--red);
}

.sec3_box img{
  color: white;
  height: 3vw;
  width: 3vw;
  display: block;
  margin: 1vh auto 0 auto;
}

.sec3_data {
  margin: 4vh 0 1vh 0;
  color: var(--red);
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}

.sec3_datatext {
  margin-bottom: 1vh;
  color: #e0e0e0;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

#section3 p{
  margin: 70px 0 40px 0;
  font-size: 20px;
  text-align: center;
}

#section3 a{
  padding: 15px 30px;
  background-color: var(--red);
  border-radius: 50px;
  color: var(--white);
  font-size: 25px;
  font-weight: bold;
}


#section4{
  width: 100%;
  height: 50vh;
  background-color: var(--brown);
}

#section5{
  height: 50vh;
  width: 100%;
  background-color: var(--white);
}

@media only screen and (max-width: 1320px){
  .header{
      padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px){
  .header{
      padding: 0 30px;
  }
}

@media only screen and (max-width: 900px){

  body{
    cursor: default;
  }

  *{
    cursor: default;
  }

  a{
    cursor: pointer;
  }
  .cursor{
      display: none;
  }

  #hamburger{
      display: block;
      cursor: pointer;
      z-index: 20;
  }
  #hamburger .line{
      width: 30px;
      height: 3px;
      background: var(--dark);
      margin: 6px 0;
  }
}

.form-style{
  font-family: 'Open Sans Condensed', arial, sans;
  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
}

.form-style input[type="text"],
.form-style input[type="email"]
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.form-style textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 100px;
  resize:none;
  overflow-y: auto;
}

.form-style input[type="button"], 
.form-style input[type="submit"]{
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: #2CBBBB;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.form-style input[type="submit"]:hover {
  background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
  background-color:#34CACA;
}
